.jumbotron {
    background: none,     
}
h1{
	font-size:40px;
	color:white;
	margin-left: 50%;
	transform: translate(-50%, 0);
}
#topinfo{
	margin-top:25px;
}
#searchbox{
	padding-right:100px;
}
#fiveday{
	padding-top:100px;
}
#card-body{
	background-color: blue;
}
.navbar{
	background-color: #5F9EA0;
}
.card-body{
	background-color: #5F9EA0;
}
.card-title{
	color:white;
}
.cardinfo{
	color:white;
}
